<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vita.animation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".tween.TweenAnimActivity">
        </activity>
        <activity android:name=".tween.AlphaActivity">
        </activity>
        <activity android:name=".tween.ScaleActivity">
        </activity>
        <activity android:name=".tween.TranslateActivity">
        </activity>
        <activity android:name=".tween.RotateActivity">
        </activity>
        <activity android:name=".value.ObjectAnimActivity">
        </activity>
        <activity android:name=".value.ValueAnimActivity">
        </activity>
        <activity android:name=".instance.InstanceActivity">
        </activity>
        <activity android:name=".instance.ScatterActivity">
        </activity>
        <activity android:name=".instance.CircleAroundActivity">
        </activity>
        <activity android:name=".instance.BallFallActivity">
        </activity>
        <activity android:name=".instance.AnimInListActivity">
        </activity>
        <activity android:name=".instance.AnimInRVActivity">
        </activity>
        <activity android:name=".instance.FlutterActivity">
        </activity>
        <activity android:name=".instance.TryBezierActivity">
        </activity>
        <activity android:name=".instance.ShoppingCartActivity">
        </activity>
        <activity android:name=".instance.Jelly1Activity">
        </activity>
        <activity android:name=".instance.StickyCircleActivity">
        </activity>
        <activity android:name=".instance.StickyCircleListActivity">
        </activity>
        <activity android:name=".instance.FlowPointLoadingActivity">
        </activity>
        <activity android:name=".instance.LoopBeadLoadingActivity">
        </activity>
        <activity android:name=".instance.PathTextActivity">
        </activity>
        <activity android:name=".instance.SpringLoadingActivity">
        </activity>
        <activity android:name=".instance.VPEffectActivity">
        </activity>
    </application>

</manifest>